<p class='item-desc'>
    <b>{{localize "yzesrdvtt.lethal"}}: </b>{{#if (eq system.fatal 'true')}}
    {{localize "yzesrdvtt.yes"}}
    {{/if}}
    {{#unless (eq system.fatal 'true')}}
    {{localize "yzesrdvtt.no"}}
    {{/unless}}
    </br>
    {{log actor}}
    <b>{{localize "yzesrdvtt.timeLimit"}}:</b> {{localize (concat "yzesrdvtt." system.timeLimit)}} ( {{localize (concat "yzesrdvtt." (lowercase system.complexity) )}} )</br>

    <b>{{localize "yzesrdvtt.recoveryTime"}}:</b> {{localize (concat "yzesrdvtt." system.recovery)}} </br>
    <b>{{localize "yzesrdvtt.penalty"}}: </b>{{system.effect}} </br>

<div class='chat-item-info grid two-col'>
    <b>{{localize "yzesrdvtt.description"}}: </b>{{system.description}}</br>
</div>
</p>