<div class='item-desc'>
    <b>{{localize 'yzesrdvtt.effect'}}</b>: {{localize (YZSRDconcat "yzesrdvtt." system.effect.type)}} &plus;{{system.effect.value}} <br>
    <b>{{localize 'yzesrdvtt.finishDate'}}:</b> {{system.finishDate}} <br>
    <b>{{localize 'yzesrdvtt.requirements'}}:</b> 
    <ul>
        <li>
            <b>{{localize 'yzesrdvtt.workforce'}}:</b> {{system.requirements.workforce}} 
        </li>
        <li>
            <b>{{localize 'yzesrdvtt.tech'}}:</b> {{system.requirements.tech}} 
        </li>
        <li>
            <b>{{localize 'yzesrdvtt.items'}}:</b> {{system.requirements.items}} 
        </li>
    </ul>
    <b>{{localize 'yzesrdvtt.description'}}:</b>
    {{system.description}} <br>
    
</div>
