<form class="{{cssClass}} flexcol" autocomplete="off">
  {{! Item Sheet Header }}
  <div class="flex-row flex-start">
    <div class="header w-150p group">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>

    <div class="w-100">
      <div class="flex-col group">
        <h1 class="center">{{localize "yzesrdvtt.talent"}}
          <input class="light" name="name" type="text" value="{{item.name}}" style="width: 99%;" />
        </h1>
      </div>
      <div class="grid two-col w-100">

        <div class="span-2 group">
          <b>{{localize "yzesrdvtt.description"}}</b>
          <textarea name="system.description">{{item.system.description}}</textarea>
        </div>

        <div class="span-2 group">
          <b>{{localize "yzesrdvtt.prerequisite"}}</b>
          <textarea name="system.prerequisite">{{item.system.prerequisite}}</textarea>
        </div>

        <div class="has-bonus group" title="{{localize 'yzesrdvtt.hasBonusTooltip'}}">
          <b>{{localize "yzesrdvtt.hasBonus"}}</b>
          {{#unless item.system.hasBonus}}
          <img class="toggle-boolean" data-path="hasBonus" src="systems/yzesrd-vtt/assets/images/box_not_checked.png"
            height="18px" width="18px">
          {{/unless}}

          {{#if item.system.hasBonus}}
          <img class="toggle-boolean" data-path="hasBonus" src="systems/yzesrd-vtt/assets/images/box_checked.png"
            height="18px" width="18px">
          {{/if}}
        </div>
        <div class="bonus-type group type-change">
          {{#if item.system.hasBonus}}
          <b>{{localize "yzesrdvtt.bonusType"}}</b>

          <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="none">{{localize
            'yzesrdvtt.none'}}
            <input id="none" type="radio" name="system.bonusType" value="yzesrdvtt.none" {{YZSRD_checked item.system.bonusType 'yzesrdvtt.none'
              }} /><span class="radio"></span></label>
          <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="skill">{{localize
            'yzesrdvtt.skill'}}
            <input id="skill" type="radio" name="system.bonusType" value="yzesrdvtt.skill" {{YZSRD_checked item.system.bonusType 'yzesrdvtt.skill'
              }} /><span class="radio"></span></label>
          <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="damage">{{localize
            'yzesrdvtt.damage'}}
            <input id="damage" type="radio" name="system.bonusType" value="yzesrdvtt.damage" {{YZSRD_checked
              item.system.bonusType 'yzesrdvtt.damage' }} /><span class="radio"></span></label>

          {{/if}}
        </div>
        {{#if item.system.hasBonus}}
        <div class="bonus-amount group">
          <h2>{{localize 'yzesrdvtt.bonusAmount'}}</h2>
        </div>
        <div class="bonus-amount-input group">
          <input type="number" name="system.bonus" value="{{item.system.bonus}}" />
        </div>

        {{#if (eq item.system.bonusType "yzesrdvtt.skill")}}
        <div class="blank group">&nbsp;</div>
        <div class="skill-select group">
          <b>{{localize "yzesrdvtt.skill"}}</b>
          <select name="system.skill" id="skill">
            {{selectOptions config.skills selected=item.system.skill localize=true}}
          </select>
        </div>

        {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</form>