<div class="item-modifiers-list">
	{{#each system.modifiers as | modifier |}}
		<select name="system.modifiers.{{@key}}.name">
			{{#select modifier.name}}
				<optgroup label="{{localize "YZSRD.Attributes"}}">
					{{#each @root.config.attributes}}
						<option value="attribute.{{.}}">{{localize (concat "YZSRD.ATTRIBUTE." (toUpperCase .))}}</option>
					{{/each}}
				</optgroup>
				<optgroup label="{{localize "YZSRD.Skills"}}">
					{{#each @root.config.skills}}
						<option value="skill.{{.}}">{{localize (concat "YZSRD.SKILL." (capitalize .))}}</option>
					{{/each}}
				</optgroup>
				<optgroup label="{{localize "YZSRD.Capacities"}}">
					{{#each @root.config.capacitiesMap as | v cap |}}
						<option value="capacity.{{cap}}">{{localize (concat "YZSRD.HEADER." (capitalize cap))}}</option>
					{{/each}}
				</optgroup>
				<optgroup label="{{localize "YZSRD.COMBAT.Combat"}}">
					<option value="combat.drawSize">{{localize "YZSRD.COMBAT.DrawSize"}}</option>
				</optgroup>
			{{/select}}
		</select>
		<select name="system.modifiers.{{@key}}.value" value="{{modifier.value}}">
			{{#select modifier.value}}
				<option value="0">{{localize "YZSRD.NO_VALUE"}}</option>
				{{#if (or (eq modifier.name "capacity.health") (eq modifier.name "capacity.resolve") (eq modifier.name "combat.drawSize"))}}
					<option value="+1">+1</option>
					<option value="-1">−1</option>
				{{else}}
					<option value="+1">{{localize "YZSRD.Advantage"}}</option>
					<option value="-1">{{localize "YZSRD.Disadvantage"}}</option>
				{{/if}}
			{{/select}}
		</select>
		<a class="button delete-modifier" data-modifier-id="{{@key}}" data-tooltip="{{localize 'YZSRD.ItemDeleteModifier'}}">
			{{{@root.config.Icons.buttons.delete}}}
		</a>
	{{else}}
		<div class="item-modifier empty">{{localize "YZSRD.ItemNoModifier"}}</div>
	{{/each}}
</div>
